<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6 col-sm-12 ">
            <div class="input-group input-group-md searchname" >
                <input type="text" class="form-control" placeholder="Search Movie" ng-model="search" >
                <div class="input-group-btn">
                    <button class="btn btn-default" style="height: 34px" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
</br>
<div class="container-fluid" ng-init="getMovies()">
    <div class="row">
        <div ng-repeat="movie in movies| filter:search">
            <div class="col-xs-12 col-sm-6 col-md-4 " >
                <div class="thumbnail clearfix firstdiv">
                    <img src="{{movie.image_url}}" style="background-color: maroon" class="img-responsive">
                    <div class="caption">
                        <h4>{{movie.name}}</h4>
                        <a class="btn btn-primary" href="#/movies/details/{{movie._id}}">View Details</a>
                    </div>
                </div>
            </div>                         
        </div>
    </div>      
</div>
 

 